<div class="row justify-content-center">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'col-6' }) do |f| %>
  <%= bootstrap_devise_error_messages! %>
    <div class="login-form">
      
      <div class="row">
        <div class="col">
          <h1><%= t('.forgot_your_password') %></h1>
          <hr />
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <h4><%= f.label :email %></h4>
        </div>
      </div>
      
      <div class="row">
        <div class="col form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
        </div>
      </div>
      
      <div class="row">
        <div class="col text-center form-group">
          <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end -%>
</div>